Nplate_rcg/demo
!image
**/*DS_Store
**/**csv
*.jpg
Dataset/
openCVtest1.xcodeproj/
Nplate_rcg/main
**/*test*
!motor_test
Nplate_rcg/image
**/*.o
motor/tyu
motor/gate_open
motor/gate_close
motor/motor
printer
Gemfile.lock
Dataset
