**/*DS_Store
openCVtest1.xcodeproj/
Nplate_rcg/main
**/ken.jpg
**/*Nplate*.jpg
**/*test*
!moter_test/
**/Number.jpg
Nplate_rcg/image
**/*.o
motor/tyu
motor/gate_open
motor/gate_close
motor/motor
printer
Gemfile.lock
Dataset
